@import './constants';

@mixin card() {
  box-shadow: 0px 0px 3px 0px;
  padding: $boxIndent;
  margin: $boxIndent;
  @include border($primaryGrayColor);
}

@mixin border($color) {
  border: 1px solid $color;
}

@mixin borderBottom($color) {
  border: 0;
  border-bottom: 1px solid $color;
}

@mixin customInput() {
  outline: none;
  @include borderBottom($primaryDarkColor);

  &:focus {
    @include borderBottom($primaryBlueColor);
  }
}

@mixin customButton() {
  margin-top: $boxIndent;
  height: $boxIndent;
  background-color: $primaryBlueColor;
  border: 0;
  color: $primaryLightColor;
}
