<div class="app-login-page">
  <form [formGroup]="authData" class="app-login-page-form">
    <label class="app-login-page-form-user-name">
      Username: <input type="text" formControlName="userName"/>
    </label>
    <label class="app-login-page-form-password">
      Password: <input type="password" formControlName="password"/>
    </label>
    <div *ngIf="error; then errorBlock" class="login-form-error"></div>
    <ng-template #errorBlock>User not found!</ng-template>
    <div class="app-login-page-form-control">
      <button (click)="loginHandler()" [disabled]="authData.invalid">Login</button>
    </div>
  </form>
</div>
