<div *ngIf="!profile" class="app-profile-page">
  <div>
    <!-- img / -->
    <h2>Welcome {{ profile.firstName }} {{ profile.lastName }}</h2>
  <div>
  <div>
    <h3>Summary</h3>
    <p>{{ profile.summary }}</p>
  </div>
  <div>
    <h3>First name:</h3>
    <p>{{ profile.firstName }}</p>
  </div>
  <div>
    <h3>Last name:</h3>
    <p>{{ profile.lastName }}</p>
  </div>
  <div>
    <h3>Email address</h3>
    <p>{{ profile.emailAddress }}</p>
  </div>
  <div>
    <h3>Phone number</h3>
    <p>{{ profile.phoneNumber }}</p>
  </div>
</div>
