.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .app__main {
    flex-grow: 1;
  }

  .app__header, .app__footer, .app__main {
    max-width: 1366px;
    padding: 0 calc((100% - 1366px) / 2);
  }

  .app__header, .app__footer {
    height: 3rem;
  }

  .app__header {
    border-bottom: 1px solid black;
  }

  .app__footer {
    border-top: 1px solid black;
  }
}